
html body *{
  font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
p{margin: 0px;padding: 0px}
ul{margin: 0px;padding: 0px}

/*===============================================
==========================nav bar css start
=================================================*/
.striky-header{
    background-color: #13c4a1;
    box-shadow: 0px 4px 44px 0px rgba(0,0,0,0.14);
    padding: 18px 61px;
    z-index: 999;
    top: 0px !important;
    transition: .5s;
}
.navbar-brand img{
    width: 170px;
}
.navbar-nav li{
    margin-right: 20px;
}
.navbar-nav li:last-child{
    margin-right: 0px;    
}
.navbar-nav li a {
    transition: .5s;
    font-size: 18px !important;
}
.navbar-nav li a:hover{
    color: #D9CE90 !important;
}
/*===============================================
==========================Slider css start
=================================================*/
.main-banner {
    background: #13c4a1;
    position: relative;
    z-index: 1;
}
.hero-content{
    padding-top: 240px;
    padding-bottom: 350px;
}
.main-banner .hero-content h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}
.main-banner .hero-content p {
    color: #f2f2f2;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.creative-shape {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.bg-gray {
    background-color: #edf5ff;
}
.shape-1 {
    left: 20px;
    bottom: 10px;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: .5;
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
}
.shape1 {
    position: absolute;
    top: 85px;
    z-index: -1;
    left: 30px;
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
}
.shape2 {
    position: absolute;
    top: 85px;
    z-index: -1;
    right: 30px;
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
}
.shape3 {
    position: absolute;
    bottom: 85px;
    z-index: -1;
    right: 30px;
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite
}
.shape4 {
    position: absolute;
    left: 9%;
    top: 23%;
    z-index: -1;
    opacity: .3
}
.app-home .shape4 {
    left: auto !important;
    right: 15%;
}
.shape6 {
    position: absolute;
    top: 30%;
    z-index: -1;
    left: 30px;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
    opacity: .6;
}
.shape8 {
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 15%;
}
.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.shape9 {
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: -1;
    -webkit-animation: animationFramesOne 15s infinite linear;
    animation: animationFramesOne 15s infinite linear;
}
@-webkit-keyframes movebounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@keyframes movebounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-webkit-keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}

@keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}

@keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
        transform: translate(73px, -1px) rotate(36deg)
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
        transform: translate(141px, 72px) rotate(72deg)
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg)
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
        transform: translate(-40px, 72px) rotate(144deg)
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg)
    }
}

@-webkit-keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg)
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg)
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg)
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg)
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg)
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg)
    }
}

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

/*==============================
=============================registration form============
================================*/
#wpmpRegisterForm {
    width: 45%;
    margin: 40px auto 14px auto;
}
#wpmpLoginSection {
    margin-bottom: 0px;
    padding-top: 190px;
}
.login-from {
    margin-left: 0%;
}
.login-from {
    margin-left: 0%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 38px 65px;
    border-radius: 28px;
}
#login_button, #primary_one {
    background: #13c4a1;
    padding: 6px 16px;
    width: 100%;
    border: none;
}
#btnForgotPassword, #btnReturnToLogin {
    padding: 0px 4px;
    font-size: 14px;
    background: transparent;
    float: right;
    margin-bottom: 13px;
    color: #000;
    border: none;
}
.new_account{
    text-align: center;
}
.new_account p{
    margin-bottom: 10;
    margin-top: 20px;
}
.new_account a{
    border: 1px solid #000;
    padding: 7px 74px;
    border-radius: 6px;
}
.new_account a:hover{
    border: 1px solid #ff731c;
    text-decoration: none;
    background-color: #ff731c;
    color: #fff;
}
#wpmpResetPasswordSection h3{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#btnReturnToLogin {
    margin-top: 12px;
}
/*=======================================
=====================header carousel css start==========
========================================*/
.carosul{
    padding: 8px 0px 80px 0px;
}
.carosul .owl-carousel .owl-item img {
    width: 70%;
    margin: 0 auto;
}
 .carosul .owl-nav{
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: -80%;
    display: none;
}
.carosul .owl-prev{
    position: absolute;
    left: -57px;
    top: 0px;
    color: red;
    display: none;   
}
.carosul .owl-next{
    position: absolute;
    right: -1165px;
}
.carosul .owl-prev span,.owl-next span{
    color: red;
}
.carosul .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: red;
    text-decoration: none;
}
.carosul .owl-nav button:focus{
    outline: none;
}
.carosul .owl-theme .owl-nav {
    margin-top: 0px;
}

/*=======================================
=====================help area css start==========
========================================*/
#help_area{}
.help_header{
    text-align: center;
}
.help_header h2{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}
.help_header .bar {
    height: 4px;
    width: 85px;
    background: #13c4a1;
    margin: 20px auto 25px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.help_header .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #fff;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG
}

@-webkit-keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(85px)
    }
}

@keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(85px);
        transform: translateX(85px)
    }
}
.help_header p{
    max-width: 650px;
    margin: 0 auto;
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
}
.help_row_two{
    margin-top: 35px;
}
.help_row_two > div{
    box-shadow: 17px 0px 2px -32px #F0F0F6;
}
.help_content {
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    -webkit-transition: .4s;
    transition: .4s;
}
.help_content:hover{
    transform: translateY(-10px);
}
.help_content .help_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #13c4a1;
    -webkit-transition: .4s;
    transition: .4s;
}
.help_content:hover .help_icon {
    color: #fff;
    background: #FF8A73;
}
.help_content h3 {
    font-size: 23px;
    font-weight: 700;
    margin: 25px 0 15px;
}
.help_content p{
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
}
/*=======================================
=====================help area css start==========
========================================*/
.features-item{
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 15px;
}
.features-item .icon {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 75px;
    background: #fff;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: #13c4a1;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1) !important;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1) !important;
    -webkit-transition: .4s;
    transition: .4s;
}
.features-item h3 {
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 15px;
}
.features-item p {
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
    width: 420px;
}
.features-item:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.features-item:hover .icon {
    color: #fff;
    background: #FF8A73;
}

/*=======================================
=====================help area css start==========
========================================*/

#ongoing_admission{
    margin-top: 50px;
}

.ongoing_row_two{
    margin-top: 20px;
    margin-bottom: 90px;
}
.ongoing_row_two .owl-carousel .owl-item img {
    width: 55%;
    margin: 0 auto;
}
.ongoing_row_two .owl-nav{
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: 0%;
}
.ongoing_row_two .owl-prev{
    position: absolute;
    left: -57px;
    top: 0px;
    color: red;
    display: none;   
}
.ongoing_row_two .owl-next{
    position: absolute;
    right: -1165px;
}
.ongoing_row_two .owl-prev span,.owl-next span{
    color: #13c4a1;
}
.ongoing_row_two .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #13c4a1;
    text-decoration: none;
}
.ongoing_row_two .owl-nav button:focus{
    outline: none;
}
.ongoing_row_two .owl-theme .owl-nav {
    margin-top: 0px;
}
.ongoing_row_two .owl-dots{
    margin-top: 33px;
}
.ongoing_row_two .owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #D6D6D6;
    border-radius: 0px;
}
.ongoing_row_two .owl-theme .owl-dots .active span {
    background: #13c4a1;
}
#isotope_container .isotope_selector{
 height: 165px;
}
.isotop_button{
    text-align: center;
    margin-bottom: 50px;
}
.isotop_button ul{
    list-style: none;
}
.isotop_button ul li{
    display: inline-block;
    background: #000;
    padding: 5px 28px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.caption{
    text-align: center;
}
.caption img{
    width: 70%;
}
.caption p{
    font-size: 16px;
    color: #818992;
    line-height: 1.2;
    text-align: center;
}
/*=======================================
=====================app-funfacts-area css start==========
========================================*/
.app-funfacts-area {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 70px;
    margin-top: 30px;
}
.app-funfacts-area::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #13c4a1;
    opacity: .87;
}
.single-funfact{
    text-align:center;
    -webkit-transition: .4s;
    transition: .4s;
}
.single-funfact .icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #edf5ff;
    border-radius: 50%;
    font-size: 25px;
    color: #13c4a1;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
}
.single-funfact:hover {
    -webkit-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}
.app-funfacts-area .single-funfact:hover .icon {
    background: #FF8A73;
    color: #fff;
}
.single-funfact h3 {
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0px;
    color: #fff;
    line-height: 1.4;
}
.single-funfact p {
    font-size: 17px;
    color: #fff;
}

/*=======================================
=====================saas-tools css start==========
========================================*/
.saas-tools{
    margin-top: 60px;
    margin-bottom: 100px;
}

/*=======================================
=====================latest news css start==========
========================================*/
.latest_news{
    margin-top: 60px;
}
.latest_row_two{
    margin-top: 50px;
}
.single-blog-post .blog-post-content h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
}
.single-blog-post .blog-post-content h3 a{
    color: #000;
}
.single-blog-post .blog-post-content p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
}
.single-blog-post .blog-post-content .read-more-btn {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
    outline: 0;
}
.single-blog-post .blog-post-content .read-more-btn:hover{
    text-decoration: none;
    color: #FF8A73;
}
.carousel_three .owl-dots{
    margin-top: 30px !important;
}
.carousel_three .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #D6D6D6;
    border-radius: 0px;
}
.carousel_three .owl-dots .active span {
    background: #13c4a1 !important;
}
/*=======================================
=====================latest news css start==========
========================================*/
.testimonial_section{
    margin-top: 60px;
}
.testimo_row_two{
    margin-top: 50px;
}
.single-feedback {
    position: relative;
    padding: 30px;
    background: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    border-radius: 3px;
    z-index: 1;
    margin-bottom: 5px;
    margin-top: 50px;
    box-shadow: 0px 1px 25px #ddd;
}
.single-feedback .client-info img {
    -webkit-clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
    clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    margin: 0 auto;
    width: 115px;
    height: 115px;
}
.single-feedback .client-info h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 55px;
}
.single-feedback .client-info span {
    color: #FF8A73;
    font-size: 15px;
}
.single-feedback p {
    margin-top: 25px;
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
}

/*=======================================
=====================Contact area css start==========
========================================*/
.contact_area{
    margin-top: 60px;
}
.contact h2 {
    font-size: 30px;
    color: #29363B;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact_row_one{
    margin-top: 25px;
}
.form_area input {
    width: 100%;
    border: 1px solid #888282;
    padding: 8px 12px;
    height: 36px;
    font-size: 14px;
}
#contact_details{
    padding-left: 10px;
    width: 100%;
}
.f_row_one {
    margin-bottom: 25px;
}
#contact_button{
    background: #13c4a1;
    color: #fff;
    border: none;
    padding: 4px 42px;
}
.info{
    list-style: none;
}
.address-items h4 {
    border-bottom: 1px solid #e7e7e7;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    font-size: 20px;
    margin-bottom: 18px;
}
.mobile_icon {
    float: left;
}
.address-items .info li i {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #13c4a1;
    font-size: 20px;
    height: 50px;
    line-height: 48px;
    margin-bottom: 15px;
    text-align: center;
    width: 50px;
}
.mobile p {
    margin-bottom: 0px;
    margin-left: 68px;
}
.info span a, .mobile p a {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
}
.address-items .info li span {
    display: table-cell;
    vertical-align: top;
}
.email_icon{
    float: left;
    margin-right: 20px;
}
.social{
    list-style: none;
}
.social li{
    display: inline-block;
}
.social li.facebook a {
    background-color: #3b5998;
}
.social li.twitter a {
    background-color: #00b6f1;
}
.social li.pinterest a {
    background-color: #bd081c;
}
.social li a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 2px;
    text-align: center;
    width: 40px;
}
/*=======================================
=====================Footer area css start==========
========================================*/
.footer-area{
    margin-top: 60px;
}
.single-footer-widget h3 {
    line-height: 25px;
    color: #24292e;
    font-weight: 600;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 25px;
}
.footer-area .single-footer-widget p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #818992;
    line-height: 1.6;
    margin-top: 15px;
}
.footer-area .single-footer-widget ul.social-list {
    margin-top: 20px;
}
.footer-area .single-footer-widget ul.social-list li {
    display: inline-block;
    margin-right: 10px;
}
.footer-area .single-footer-widget ul.social-list li a {
    color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}
.footer-area .single-footer-widget ul.social-list li a:hover {
    color: #13c4a1;
}
.footer-area .single-footer-widget ul.list li a {
    display: block;
    color: #818992;
    font-weight: 600;
    -webkit-transition: .4s;
    transition: .4s;
}
.list{
    list-style: none;
}
.footer-area .single-footer-widget ul.list li {
    margin-bottom: 9px;
}
.footer-area .single-footer-widget ul.list li a:hover {
    color: #13c4a1;
    padding-left: 7px;
    text-decoration: none;
}
.copyright-area {
    padding: 30px 0;
    margin-top: 60px;
    border-top: 1px solid #eee;
}
.copyright-area p{
    margin-bottom: 0px;
}