body{
	font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}
#site-header {
    z-index: 999999 !important;
}
.site-title a{
	color: #fff;
}
.site-title a:hover{
	text-decoration: none;
}
.header-titles img{
    transition: 0.8s;
}
.header-titles img{
	width: 38%;
}
.primary-menu li a{
	color: #fff !important;
	text-transform: uppercase;
	font-family: Josefin Sans,Arial,sans-serif;
    font-size: 15px;
}
.primary-menu li a:hover{
    text-decoration: none;
}
#site-header {
    background: transparent;
    position: fixed !important;
    width: 100%;
    transition: 0.8s;
}
.header-inner {
    padding: 12px 0px !important;
}
.header_scroll {
    background-color: #fff !important;
}
.header_scroll .primary-menu li a {
    color: #000 !important;
    text-transform: uppercase;
    font-family: Josefin Sans,Arial,sans-serif;
    font-size: 15px;
}
.slider_section{
	background-position: 50% -100px;
	background-size: cover;
}
.school_slider .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 600px;
}
.school_slider{
    position: relative;
}
.school_slider .owl-nav{
    display: none;
}
.slider_overlay{
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    position: absolute;
    opacity: .5;
}
.slider_content h3{
	font-size: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    margin: 0px;
}
.slider_content h1{
	color: #dd9933;
	font-size: 160px;
	font-family: 'Montez', cursive;
	font-weight: normal;
	margin: 0px;
}
.slider_content_row{
    position: absolute;
    top: 33%;
    left: calc(50% - 312px);
    z-index: 9999;
}

/*===============================event section======================*/

.event_section{
	color: #fff;
    background-color: #1d1f27;
    padding-bottom: 76px;
}
.event_title img{
    text-align: center;
    width: 134px;
    margin: 0 auto;
    padding: 38px 0px 0px 0px;
}
.event_title h1
{
	margin: 22px 0px;
	font-size: 72px;
    line-height: 1.1;
    padding-top: 8px;
    padding-bottom: 6px;
    font-family: Montez;
}
.event_title p{
    font-size: 24px;
    font-family: Josefin Sans,Arial,sans-serif;
    font-weight: 300;
    clear: both;
    margin: 0;
    letter-spacing: .01em;
    width: 971px;
    margin: 0 auto;
    margin-bottom: 65px;
}
.event_content{
	background-color: rgba(255,255,255,.04);
}
.event_content img{
	width: 100%;
    max-width: none;
    display: block;
    margin: 0;
    height: auto;
}
.event_content h3{
    font-size: 27px;
    line-height: 37px;
    color: #fff;
    font-family: Josefin Sans,Arial,sans-serif;
    font-weight: 400;
    margin: 17px 0px;
}
.event_content .event_icon i{
    font-size: 48px;
    color: #DD9933;
    margin-top: 32px;
}
.event_content p{
	font-family: Josefin Sans,Arial,sans-serif;
    font-size: 18px;
    padding: 0px 18px
}
.event_content ul{
	list-style: none;
    display: inline-block;
    margin: 20px 0px 38px 0px;
}
.event_content ul li{
	display: inline-block;
}
.event_content ul li a i{
	border: 1px solid #dd9933;
    color: #dd9933;
    border-radius: 50%;
    padding: 6px;
}
.event_content ul li a i:hover{
	border: 1px solid #fff;
	color: #dd9933;
	color: #fff
}

/*===============================classment section======================*/

.classment_section{
	background-position: 100% center;
	background-size: cover;
	padding-bottom: 65px;
}
.classment_section .event_title h1{
	color: #fff;
}
.classment_section .event_title p{
	color: #fff;
}
.student_photo img{
	/*width: 146px;*/
	height: 156px;
    border-radius: 50%;
    border: 7px solid #FFF;
}
.student_name h3{
	font-family: Montez;
    margin: 14px 0px 10px 0px;
    color: #fff;
}
.student_name p{
	font-size: 17px;
    color: #fff;
}
.student_more{
	display: block;
    margin-top: 55px;
}
.student_more a{
	font-size: 18px;
    font-family: Josefin Sans,Arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #ddd;
    padding: 11px 33px;
}
.student_more a:hover{
	border: 2px solid #fff;
    background-color: #fff;
    color: #4d6069;
}

/*===============================profie card section======================*/

.prorile_card{
	background-color: rgba(255,255,255,.04);
	line-height: 34px;
}
.prorile_card > p{
	font-family: Josefin Sans,Arial,sans-serif;
    font-size: 18px;
    padding: 0px 18px;
    border-bottom: 1px solid #6e6b6b;
    padding-bottom: 13px;
    padding-top: 13px;
}
.prorile_card p i{
	color: #dd9933;
    font-size: 22px;
    margin-right: 7px;
    line-height: 34px;
}
.prorile_card h4{
	font-family: Josefin Sans,Arial,sans-serif;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.school_name{
	color: #dd9933;
	font-family: Josefin Sans,Arial,sans-serif;
	font-size: 18px;
    font-weight: 500;
}
.card_img{
    width: 60px;
    border-radius: 50%;
    height: 60px;
}
.card_col_two{
	padding: 19px 0px 0px 0px;
}
.card_content {
    padding: 0px 0px 17px 19px;
}
.post-inner {
    padding-top: 0px !important;
}
.entry-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.singular .entry-header {
    padding: 0 0 !important;
}
.entry-title{
    font-family: Josefin Sans,Arial,sans-serif;
    font-size: 40px;
    padding: 150px 0px 50px 0px;
    color: #fff;
}
#wpmpRegisterForm .form-group{
    margin-bottom: 10px;
}
.entry-content {
    background: #1d1f27;
}
#wpmpRegisterForm button{
    margin-top: 28px;
}
#wpmpRegisterForm .alert, #wpmpLoginForm .alert, #wpmpResetPasswordSection .alert {
    font-size: 22px !important;
}
.add_memories{
    background: #dd9933;
    border: 1px solid #dd9933;
    margin-bottom: 35px;
    padding: 10px 14px;
    font-size: 16px !important;
    font-weight: 700;
    border-radius: 8px;
}
button{
    font-size: 15px !important;
}
.foogallery.fg-thumbnail .fg-image {
    width: 100%;
    height: 354px;
}
#login_button_fontend{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    background: #DD9933;
    font-size: 17px !important;
    padding: 14px 35px;
    border-radius: 5px;
    text-decoration: none;
}

#loginModal .login-from {
    margin-left: 0%;
}

#loginModal h3{
    margin: 0px;
}
#btnForgotPassword{
    display: none;
}
#wpmpRegisterSection{
    margin-bottom: 0px;
}
.modal
{
    z-index: 999999;
}